section#ksum-footer.section-content
  .container
    .row
      .col-sm-4.left-col
        img.img-fluid(src="./img/logo-white.svg" alt="ksum logo")
        .address
          p G3B, Thejaswini, Technopark Campus, Kariyavattom, Trivandrum, Kerala 695581
        
      .col-sm-4.pt-5
        .phone 
          div 
            i.fa.fa-mobile
            | 08033948999
        .phone 
          div 
            i.fa.fa-phone
            | 0471-2700270
          p ( Timings: 08.00 am to 08.00 pm )
        .social
          a(href="https://www.facebook.com/keralastartupmission" target="_blank" rel="noopener" aria-label="fb link")
            i.fa.fa-facebook
          a(href="https://twitter.com/startup_mission" target="_blank" rel="noopener" aria-label="twitter link")
            i.fa.fa-twitter
          a(href="https://in.linkedin.com/company/kerala-startup-mission" target="_blank" rel="noopener" aria-label="linkedin link")
            i.fa.fa-linkedin
          a(href="https://www.pinterest.com/pin/796996465276301175/" target="_blank" rel="noopener" aria-label="pintrest link")
            i.fa.fa-pinterest
          a(href="https://www.youtube.com/results?search_query=kerala+startup+mission" target="_blank" rel="noopener" aria-label="youtube link")
            i.fa.fa-youtube-play
      .col-sm-4.right-col
        img.img-fluid.w-50(src="./img/fl-logo.svg" alt="futurelab logo")
        .address
          p
            |An Initiative by Kerala Startup Mission
            br
            |7th Floor, Thejaswini, Technopark Kariyavattom, 
            |Trivandrum, Kerala 695581
          //- p email: futurelab@startupmission.in
        

section#ksum-copy
  p Copyright © 2019 Kerala Startup Mission. All Rights Reserved.