nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    li
      a Learn
      ul
        li
          a(href="membership.pug") Membership
        li
          a(href="facilities.pug") Machines &amp; Gadgets
    li
      a Access
      ul
        li
          a(href="futurexl.pug") FutureXL
        li
          a(href="letstalk.pug") Let's Talk: Meetups
        li
          a(href="#") Peer Learning
    li
      a Do
      ul
        li
          a(href="#") Innovation Challenges
        li
          a(href="projects.pug") Projects
        li
          a(href="startups.pug") Startups

      


    

