@import "./mixins";
#slider-section{
  height: 40vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(68,62,212);
  background: linear-gradient(0deg, rgba(42,36,194,1) 0%, rgba(61,141,250,1) 100%);

  #info-container{
    position: absolute;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 45px;
    }

    h2{
      font-size: 18px;
    }

    &:hover{
      .circle-one{
        transform: scale(.5);
      }
      .circle-two{
        transform: scale(2);
        background: transparent;
        border: 1px solid white;
      }
    }
  
    .circle{
      background: white;
      opacity: .1;
      border-radius: 50%;
      position: absolute;
      transition: all 1s ease-in-out;
      margin:0 auto;
    }

    .circle-one{
      width: 100px;
      height: 100px;
    }

    .circle-two{
      width: 50px;
      height: 50px;
    }

  }

}

#gadget-section{

  .gadgets{
    display: flex;
    flex-direction: column;

    .gadget-item{
      display: flex;
      flex-wrap: wrap;
      border-radius: 4px;
      box-shadow: hsl(0, 0%, 80%) 0 0 16px;
      padding: 10px;
      margin-top: 20px;

      .left{
        width: 100%;
        padding: 10px;

        @include my_bp(sm){
          width: 30%;
        }
      }

      .center{
        width: 100%;
        padding: 10px;
        border-right: 0;

        @include my_bp(sm){
          width: 50%;
          border-right: 1px solid rgba(0,0,0,.2);
        }

      }

      .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include my_bp(sm){
          width: 20%;
        }

        .button{
          display: block;
          width: 150px;
          padding: 10px 20px;
          text-align: center;
          border-radius: 50px;
          border: 1px rgba(0,0,0,.4) solid;
          color: rgba(0,0,0,.4);
          transition: all .3s ease-in;
          margin: 0 auto;
          font-weight: bold;
        
          &:hover{
            text-decoration: none;
            background: rgba(0,0,0,.4);
            color: white;
          }
        }
      }
    }
  }
}

.button{
  display: block;
  width: 250px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 50px;
  border: 1px rgba(42,36,194,1) solid;
  color: rgba(42,36,194,1);
  transition: all .3s ease-in;
  margin: 0 auto;

  &:hover{
    text-decoration: none;
    background: rgba(42,36,194,1);
    color: white;
  }
}