@import "./mixins";
#slider-section{
  height: 40vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(68,62,212);
  background: linear-gradient(0deg, rgba(42,36,194,1) 0%, rgba(61,141,250,1) 100%);

  #info-container{
    position: absolute;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 45px;
    }

    h2{
      font-size: 18px;
    }

    &:hover{
      .circle-one{
        transform: scale(.5);
      }
      .circle-two{
        transform: scale(2);
        background: transparent;
        border: 1px solid white;
      }
    }
  
    .circle{
      background: white;
      opacity: .1;
      border-radius: 50%;
      position: absolute;
      transition: all 1s ease-in-out;
      margin:0 auto;
    }

    .circle-one{
      width: 100px;
      height: 100px;
    }

    .circle-two{
      width: 50px;
      height: 50px;
    }

  }

}

#mentor-section{

  .mentors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    // border-bottom: 1px solid rgba(200,200,200,.25);
    // margin-bottom: 10px;

    p{
      font-size: 12px;
      margin: 0;
    }

    .mentor-item{
      display: flex;
      align-items:center;
      margin: 10px;
      margin-right: 0px;
      width: 100%;

      @include my_bp(sm){
        width: 250px;
        flex-direction: column;
      }

      img{
        width: 150px;
        border-radius: 50%;
        box-shadow: 2px 2px 0px rgba(61,141,250,1);
      }

      .descp{
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding-left:5px;
        margin-top: 5px;

        h3{
          font-size: 18px;
          margin-bottom: 5px;
          // text-align: center;
        }

        h4{
          font-size: 12px;
          font-weight: normal;
          margin: 0;
          // text-align: center;
        }
      }
      
    }
  }
}

.button{
  display: block;
  width: 250px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 50px;
  border: 1px rgba(42,36,194,1) solid;
  color: rgba(42,36,194,1);
  transition: all .3s ease-in;
  margin: 0 auto;

  &:hover{
    text-decoration: none;
    background: rgba(42,36,194,1);
    color: white;
  }
}