@import "./mixins";
#slider-section{
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;


  &::before{
    background: rgb(68,62,212);
    background: linear-gradient(0deg, rgba(42,36,194,1) 0%, rgba(61,141,250,1) 100%);
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top:0;
    opacity: .9
  }

  
  
  #info-container{
    position: absolute;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .left{
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1{
        font-size: 45px;
      }

      h2{
        font-size: 18px;
      }

      .button{
        width: 250px;
        margin: 0 auto;
        margin-top: 25px;
        padding: 10px;
        border-radius: 50px;
        border: 1px white solid;
        color: white;
        transition: all .3s ease-in;

        &:hover{
          text-decoration: none;
          background: white;
          color: rgba(42,36,194,1);
        }
      }
    }

    .right{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;
      position: relative;
      
      @include my_bp(sm){
        display: flex;
      }

      &:hover{
        .circle-one{
          transform: scale(.7);
        }
        .circle-two{
          transform: scale(1.4);
          background: transparent;
          border: 1px solid white;
        }
      }
    
      .circle{
        background: white;
        opacity: .2;
        border-radius: 50%;
        position: absolute;
        transition: all 1s ease-in-out;
      }

      .circle-one{
        width: 500px;
        height: 500px;
      }

      .circle-two{
        width: 350px;
        height: 350px;
      }

      .headset{
        position: absolute;
        transform-origin: bottom center;
        transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
        animation: 5s infinite ease-in-out shake;
        left: 0px;
        width: 50%;
      }

      .omni{
        position: absolute;
        transform: translateY(-15px);
      }

      .drone{
        position: absolute;
        transform-origin: bottom center;
        transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
        animation: 5s infinite ease-in-out shake;
        top: -70px;
        left: 40px;
        width: 50%;
      }

      .drone_fly{
        position: absolute;
        top: -70px;
        left: 40px;
        width: 25%;
        transform-origin: bottom center;
        transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
        animation: 15s infinite ease-in-out fly;
      }

      .v100{
        position: absolute;
        transform-origin: bottom center;
        transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
        animation: 5s infinite ease-in-out shake1;
        right: 50px;
        width: 40%;
        top: 40px;
      }

      .cozmo{
        position: absolute;
        transform-origin: bottom center;
        transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
        animation: 5s infinite ease-in-out cozmo;
        // top: 0px;
        // width: 30%;
        // right: 100px;
        bottom: -10px;
        width: 20%;
        right: 180px;
      }

      .dso{
        position: absolute;
        bottom: 0px;
        width: 40%;
        right: 200px;
      }

      

      @keyframes cozmo{
        0% { transform: scale(.8) translateX(-25px) }
        30% { transform: scale(1) translateX(0)}
        40% { transform:  rotateX(5deg)}
        45% { transform:  rotateX(-5deg)}
        50% { transform: rotate(0deg)}
        100% { transform: scale(.8)  translateX(-25px) }
      }

      @keyframes fly{
        0% { transform: translateX(0) scale(.9) ; z-index: inherit;}
        30% { transform: translateX(300px); z-index: inherit;}
        35% { z-index: 100; transform: translateX(300px) scale(.9); }
        50% { transform: translateX(400px) translateY(300px) scale(1.1); z-index: 100;}
        80% { transform: translateX(-100px) translateY(300px) scale(1.1); }
        100% { transform: translateX(0) scale(.9); z-index: inherit; }

      }

      @keyframes shake {
        0% {transform: rotateZ(0deg)}
        10% {transform: rotateZ(4deg);}
        30% {transform: rotateZ(-4deg);}
        50% {transform: rotateZ(0deg);}
        100% {transform: rotateZ(0deg);}
      }

      @keyframes shake1 {
        0% {transform: rotateZ(0deg)}
        10% {transform: rotateZ(-4deg);}
        30% {transform: rotateZ(4deg);}
        50% {transform: rotateZ(0deg);}
        100% {transform: rotateZ(0deg);}
      }
    }
  } 
}

#initiatives{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // color: rgba(61,141,250,1);
  color: white;

  @include my_bp(sm){
    min-height: 100vh;
  }

  &:before{
    display: block;
    content: '';
    background: #000;
    opacity: .8;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
  }

  .xr-item{
    
    padding: 5px;

    .xr-inner{
      background: rgba(18, 117, 251, 0.6);
      // background: rgba(0,0,0, .8);

      padding: 20px;
      border-radius: 5px;
      color: white;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
    }
  }

  .button{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    border: 1px white solid;
    color: white;
    transition: all .3s ease-in;

    &:hover{
      text-decoration: none;
      background: rgba(61,141,250,1);
      color: white;
    }
  }
}

#facilities{
  background: url('../img/apply.jpg') no-repeat;
  background-size: cover;
  position: relative;

  &:before{
    display: block;
    content: '';
    background: #fff;
    background: linear-gradient(90deg, rgba(251,251,251,0) 0%, rgba(252,252,252,1) 70%, rgba(252,252,252,1) 100%);    // opacity: .7;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
  }

  

  .gadgets{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include my_bp(sm){
      flex-direction: row;
      justify-content: space-between;
    }

    .gadget-item{
      display: flex;
      flex-wrap: wrap;
      border-radius: 10px;
      box-shadow: 0 0 16px rgba(200,200,200,.4);
      background: rgba(255,255,255,.4);
      padding: 10px;
      margin-top: 20px;

      img{
        transition: all 1s ease-in-out;
      }

      &:hover img{
        transform: scale(1.1);
      }

      
      @include my_bp(sm){
        width: 48%;
      }

      &:last-of-type:not(:nth-child(even)){
        width: 100%;

        .left{
          width: 20%;
        }
      }

      .button{
        display: block;
        width: 150px;
        padding: 5px 10px;
        text-align: center;
        border-radius: 50px;
        border: 1px rgba(0,0,0,.4) solid;
        color: rgba(0,0,0,.4);
        transition: all .3s ease-in;
        margin: 0 auto;
        font-weight: bold;
      
        &:hover{
          text-decoration: none;
          background: rgba(0,0,0,.4);
          color: white;
        }
      }


      .left{
        width: 100%;
        padding: 10px;

        @include my_bp(sm){
          width: 40%;
        }
      }

      .center{
        width: 100%;
        padding: 10px;
        border-right: 0;

        @include my_bp(sm){
          width: 60%;
          // border-right: 1px solid rgba(0,0,0,.2);
        }

        
      }

      .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // @include my_bp(sm){
        //   width: 20%;
        // }

        
      }

      &.side{
        .left{
          @include my_bp(sm){
            width: 60%;
          }
        }

        .center{
          @include my_bp(sm){
            width: 40%;
          }
        }
      }

    }
  }
}

#program-section{

  #programs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
    margin: 0 auto;

    .program-cover{
      width: 100%;
      padding:25px;
      cursor: pointer;
      position: relative;
      display: flex;

      @include my_bp(sm){
        width: 50%;
      }

      &:hover{
        text-decoration: none;
      }

      .program-item{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(37,37,37,0.35);
        border-radius: 5px 5px 5px 5px;
        background-color: transparent;
        transition: all .3s ease-in-out;
        

        &:hover{
          background-color: white;
          border-color: rgba(37,37,37,0.5);
          box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.24);
         
          h3{
            color: #00aef0;
          }
        }


        .logo{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          img{
            width: 100%;

          }
        }

        h3{
          font-family: 'Righteous', Arial, Helvetica, sans-serif;
          font-size: 30px;
          text-align:center;
          margin-top: 10px;
          transition: all .3s ease-in-out;
          color: black;
        }

        p{
          color: black;
        }
      }
    }
  }
}

#partners-section{

  #partners{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;


    .partner-cover{
      width: 50%;
      padding:5px;
      cursor: pointer;
      position: relative;
      display: flex;

      @include my_bp(sm){
        width: 14%;
      }

      .partner-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        padding: 10px 5px 10px 5px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(37,37,37,0.35);
        border-radius: 5px 5px 5px 5px;
        background-color: #ffffff;
        transition: all .3s ease-in-out;
        

        &:hover{
          border-color: rgba(37,37,37,0.5);
          box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.24);

          h3{
            color: #00aef0;
          }
        }


        .logo{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img{
            width: 100%;

          }
        }

        h3{
          font-family: 'Blinker', sans-serif;
          font-size: 20px;
          text-align:center;
          margin-top: 10px;
          transition: all .3s ease-in-out;

        }
      }
    }
  }
}

.marquee{
  margin-top: 50px;
  width: 100%;
  bottom: 40px;
  position: absolute;
  // background: rgba(104, 123, 255, 0.4);
  

  .marquee-content{
    transform:translateX(50%);
    animation: marquee 25s linear infinite;
    

    &:hover{
      animation-play-state: paused;
    }

    
    a{
      color: #fff;
      margin: 5px;
      padding: 5px 0px 5px 0px;
      display: inline-block;

      &:hover{
        text-decoration: none;
      }

      &:last-of-type:after{
        content: " ";
        display: inline-block;
        position: absolute;
        background: url('../img/cozmo.gif');
        width: 80px;
        height: 70px;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -25px;
        /* left: 100%; */
        z-index: 999;
      }
    }
  }
  .cozmo_run{
    position: absolute;
    width: 10%;
    bottom: -25px;
  }
}

@keyframes marquee {
  0%   { 
  transform: translateX(60%); 		
  }
  100% { 
  transform: translateX(-100%); 
  }
 }