@import "./mixins";
#slider-section{
  height: 40vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(68,62,212);
  background: linear-gradient(0deg, rgba(42,36,194,1) 0%, rgba(61,141,250,1) 100%);

  #info-container{
    position: absolute;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 45px;
    }

    h2{
      font-size: 18px;
    }

    &:hover{
      .circle-one{
        transform: scale(.5);
      }
      .circle-two{
        transform: scale(2);
        background: transparent;
        border: 1px solid white;
      }
    }
  
    .circle{
      background: white;
      opacity: .1;
      border-radius: 50%;
      position: absolute;
      transition: all 1s ease-in-out;
      margin:0 auto;
    }

    .circle-one{
      width: 100px;
      height: 100px;
    }

    .circle-two{
      width: 50px;
      height: 50px;
    }

  }

}

#partners-section{

  #partners{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 0 auto;


    .partner-cover{
      width: 50%;
      padding:25px;
      cursor: pointer;
      position: relative;
      display: flex;

      @include my_bp(sm){
        width: 25%;
      }

      .partner-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        padding: 10px 5px 10px 5px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(37,37,37,0.35);
        border-radius: 5px 5px 5px 5px;
        background-color: #ffffff;
        transition: all .3s ease-in-out;
        

        &:hover{
          border-color: rgba(37,37,37,0.5);
          box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.24);

          h3{
            color: #00aef0;
          }
        }


        .logo{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img{
            width: 100%;

          }
        }

        h3{
          font-family: 'Blinker', sans-serif;
          font-size: 20px;
          text-align:center;
          margin-top: 10px;
          transition: all .3s ease-in-out;

        }
      }
    }
  }
}

#video-section{

  .videos{
    display: flex;
    flex-wrap: wrap;

    .left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      @include my_bp(sm){
        width: 60%;
      }

      .video{
        line-height: 0;

        iframe{
          max-width: 100%;
        }
      }
    }

    .right{
      display: flex;
      flex-direction: column;
      width: 100%;

      @include my_bp(sm){
        width: 40%;
      }

      .video-item{
        display: flex;
        margin: 7px;
        padding: 5px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        align-items: center;

        &:hover{
          box-shadow: 0px 0px 10px rgba(0,0,0,0.24);
        }

        &.active{
          box-shadow: 0px 0px 10px rgba(0,0,0,0.24);
        }
        
        img{
          width: 40%;
        }

        .desc{
          padding: 10px;

          h4{
            font-size: 18px;
          }
        }
      }
    }
  }
}