@import "./mixins";
#slider-section{
  height: 40vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(68,62,212);
  background: linear-gradient(0deg, rgba(42,36,194,1) 0%, rgba(61,141,250,1) 100%);

  #info-container{
    position: absolute;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 45px;
    }

    h2{
      font-size: 18px;
    }

    &:hover{
      .circle-one{
        transform: scale(.5);
      }
      .circle-two{
        transform: scale(2);
        background: transparent;
        border: 1px solid white;
      }
    }
  
    .circle{
      background: white;
      opacity: .1;
      border-radius: 50%;
      position: absolute;
      transition: all 1s ease-in-out;
      margin:0 auto;
    }

    .circle-one{
      width: 100px;
      height: 100px;
    }

    .circle-two{
      width: 50px;
      height: 50px;
    }

  }

}

#activity-section{

  .activities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .activity-item{
      width: 100%;
      padding: 10px;

      @include my_bp(sm){
        width: 33%;
      }

      &:hover{
        img{
          transform: scale(1) !important;
        }
        .desc{
          // transform: scaleY(1) !important;
          transform: translateY(0) !important;
          opacity: 1 !important;
        }
      }

      .inner{
        // border: 1px solid;
        position: relative;
        overflow: hidden;
        height: 100%;

        .image{
          width: 100%;
          height: 100%;
          overflow: hidden;

          img{
            transform: scale(2);
            transition: all 1s ease-in-out;
          }

          .desc{
            padding: 10px;
            background: rgba(255,255,255,.7);
            bottom: 0px;
            position: absolute;
            width: 100%;
            // transform: scaleY(0);
            transform: translateY(44px);
            opacity: 0;
            transform-origin: bottom center;
            transition: all 1s ease-in-out;
  
            p{
              margin: 0;
              color: black;
              text-align: center;
              font-weight: bold;
            }
          }
        }

        
      }

      
    }
  }
}

.button{
  display: block;
  width: 250px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 50px;
  border: 1px rgba(42,36,194,1) solid;
  color: rgba(42,36,194,1);
  transition: all .3s ease-in;
  margin: 0 auto;

  &:hover{
    text-decoration: none;
    background: rgba(42,36,194,1);
    color: white;
  }
}