@import "./mixins";
#slider-section{
  height: 40vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(68,62,212);
  background: linear-gradient(0deg, rgba(42,36,194,1) 0%, rgba(61,141,250,1) 100%);

  #info-container{
    position: absolute;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 45px;
    }

    h2{
      font-size: 18px;
    }

    &:hover{
      .circle-one{
        transform: scale(.5);
      }
      .circle-two{
        transform: scale(2);
        background: transparent;
        border: 1px solid white;
      }
    }
  
    .circle{
      background: white;
      opacity: .1;
      border-radius: 50%;
      position: absolute;
      transition: all 1s ease-in-out;
      margin:0 auto;
    }

    .circle-one{
      width: 100px;
      height: 100px;
    }

    .circle-two{
      width: 50px;
      height: 50px;
    }

  }

}

#project-section{

  .project-item{

    margin-top: 30px;

    iframe{
      max-width: 100%;
    }

    img{
      width: 100%;
      height: 300px;
      margin-bottom: 5px;
    }
  }
}