doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/facilities.scss")
  body

    include parts/menu.pug

    section#slider-section
      .container#info-container
        h1 Facilities
        h2 Try the latest inventions today
        .circle.circle-one
        .circle.circle-two

    section#gadget-section.section-content
      .container
        .gadgets
          .gadget-item
            .left
              img.img-fluid(src="./img/nvidia.png")
            .center
              h4 Nvidia Tesla P100, V100
              p Cloud too expensive?
              p Access state-of-the-art GPUs from Nvidia at affordable rates to ramp up your Startup's R&D.
            .right
              a.button(href="#") Book Now
          .gadget-item
            .left
              img.img-fluid(src="./img/jetson.jpg")
            .center
              h4 Nvidia Jetson TX2
              p Deep learning on the Edge.
              p Work on projects to make intelligent devices smarter and more independent using the Nvidia Jetson Developer Kit.
            .right
              a.button(href="#") Book Now
          .gadget-item
            .left
              img.img-fluid(src="./img/htc.jpg")
            .center
              h4 HTC Vive
              p The headset uses room scale tracking technology, allowing the user to move in 3D space and use motion-tracked handheld controllers to interact with the environment.
            .right
              a.button(href="#") Book Now
          .gadget-item
            .left
              img.img-fluid(src="./img/openbci.jpg")
            .center
              h4 Brain-Computer Interfacing Kit
              p Bio sensing boards which provide high resolution imaging and recording of EMG, ECG, and EEG signals
            .right
              a.button(href="#") Book Now
          .gadget-item
            .left
              img.img-fluid(src="./img/dso.jpg")
            .center
              h4 Robotics & IoT Testing  lab
              p A dedicated space for Testing and development of IoT, Robotics and Aerial vehicles. It consists of necessary flight controller boards, Motors, Aerial Vehicle kits, Motors, development boards, Testing equipment like Spectrum Analyzer, Mixed Signal Oscilloscope, Digital Signal Oscilloscope, Logic Analyzer etc.
            .right
              a.button(href="#") Book Now

    section.section-content
      .container
        .row
          .col-sm-12
            p.text-center All the members of Future technologies lab gets access to all the equipment for a discounted rate.
            a.button(href="#") Apply for Membership Now!


    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")