doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/futurexl.scss")
  body

    include parts/menu.pug

    section#slider-section
      .container#info-container
        h1 FutureXL
        .circle.circle-one
        .circle.circle-two

    section.section-content
      .container
        .row
          .col-sm-12
            p.text-center FutureXL is a two day hands on session by Future Technologies Lab members who are willing to contribute to the community.
            a.button(href="#") Apply to Host FutureXL

    section#mentor-section.pb-5
      .container
        .row
          .col-sm-12
            h3.text-center Mentors
        .row
          .col-sm-12
            .mentors
              .mentor-item
                img(src="./img/dp.jpg")
                .descp
                  h3 Savio
              .mentor-item
                img(src="./img/dp.jpg")
                .descp
                  h3 Pranoy
              .mentor-item
                img(src="./img/dp.jpg")
                .descp
                  h3 Abhiram
              .mentor-item
                img(src="./img/dp.jpg")
                .descp
                  h3 Madhav
              .mentor-item
                img(src="./img/dp.jpg")
                .descp
                  h3 Chandykunj Alex
              .mentor-item
                img(src="./img/dp.jpg")
                .descp
                  h3 Aditya V
              .mentor-item
                img(src="./img/dp.jpg")
                .descp
                  h3 Tittu


    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")