doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    //- include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    #app
      .loading(v-cloak)
      div(v-cloak)
        section#slider-section(:style="'background-image: url('+header.image+')'")  
          .container#info-container
            .row
              .col-sm-6.left
                h1 Future Technologies Lab
                small {{header.title}}
                
                p.pt-4(v-html="header.content.replace(\/\\n\/g, '<br/>')")
                a.button(:href="header.link" target="_blank") {{header.link_text}}
                
              .col-sm-6.right
                .circle.circle-one
                .circle.circle-two
                //- img.headset(src="./img/headset.png")
                //- img.drone(src="./img/drone.png")
                img.drone_fly(src="./img/drone1.gif")

                //- img.v100(src="./img/v1001.png")
                //- img.cozmo(src="./img/cozmo1.png")
                //- img.dso(src="./img/dso.png")
                
                img.omni(src="./img/omni.png")

          .marquee#feed-marquee
            .marquee-content
              a(v-for="(val,index) in message" :href="val.link" target="_blank") {{val.item}}
                span(v-if="index<message.length-1" v-text="'  |'") 
              //- img.cozmo_run(src="./img/cozmo.gif")

                
                
        section#initiatives.section-content.alternate(:style="'background-image: url('+initiatives_header.image+')'")
          .container
            .row
              .col-sm-12.pb-3
                h2.text-center Initiatives
            .row
              .col-sm-12
                h3 {{initiatives_header.title}}
                p(v-html="initiatives_header.content.replace(\/\\n\/g, '<br/>')")

            .row.pt-5
              .col-sm-4.xr-item(v-for="item in initiatives")
                .xr-inner
                  div
                    h3 {{item.title}}
                    p {{item.content}}
                  a.button(:href="item.link") {{item.link_text}}

        section#facilities.section-content
          .container
            .row
              .col-sm-12
                h2 Facilities
                            
            .row
              .col-sm-12
                .gadgets
                  .gadget-item(v-for="(item,index) in facilities" :class="index%2==1?'side':''")
                    template(v-if="index%2==0")
                      .left
                        img.img-fluid(:src="item.image")
                        a.button(:href="item.link" v-if="item.link!='#'") {{item.link_text}}
                      .center
                        h4 {{item.title}}
                        p.m-0(v-html="item.content.replace(\/\\n\/g, '<br/>')")
                    template(v-else)
                      .left
                        h4 {{item.title}}
                        p.m-0(v-html="item.content.replace(\/\\n\/g, '<br/>')")
                      .center
                        img.img-fluid(:src="item.image")
                        a.button(:href="item.link" v-if="item.link!='#'") {{item.link_text}}
                        


                      
                  

              //- .col-sm-6
              //-   .row.align-items-center
              //-     .col-sm-6
              //-       img.img-fluid(src="./img/gpuserver.png")
              //-     .col-sm-6
              //-       img.img-fluid(src="./img/v100.png")
              //-   .row.align-items-center
              //-     .col-sm-6
              //-       img.img-fluid(src="./img/vie.png")
              //-     .col-sm-6
              //-       img.img-fluid(src="./img/bci.png")
              //-   .row.pt-5
              //-     .col-sm-12
              //-       p Our facility includes Nvidia Tesla P100, Volta V100 GPU machines, HTC Vive, Open BCI kit, and lot more..

        //- section#program-section.section-content.alternate
        //-   .container
        //-     .row
        //-       .col-sm-12
        //-         h2 Programs
        //-       .col-sm-12
        //-         #programs
        //-           a.program-cover(href="#")
        //-             .program-item
        //-               .logo
        //-                 img(src="./img/ulearn.jpg")
        //-               h3 Mu Learn 
        //-               p AI Study Circle
        //-               p AR VR &amp; Game Development Tools
        //-           a.program-cover(href="#")
        //-             .program-item
        //-               .logo
        //-                 img(src="./img/fhack.jpg")
        //-               h3 Future Hack 
        //-               p Innovation Challenges
        //-               p Kerala Startup Mission

        section#international.section-content
          .container
            .row.pb-3
              .col-sm-12
                h2 Programs
            .row
              .col-sm-3
                img.img-fluid(src="./img/su.jpg")
                h6.pt-2.text-center Global Impact Challenge India
                p.text-center Singularity University
              .col-sm-3
                iframe(width="100%" height="143" src="https://www.youtube.com/embed/WZPIT82J4Dk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                h6.pt-1.text-center Interaction Design Summer School
                p.text-center Copenhagen Institute of Interaction Design
              .col-sm-3
                img.img-fluid.w-100(src="./img/ulearn.jpg")
                h6.pt-2.text-center Mu Learn
                p.text-center AI Study Circle
              .col-sm-3
                img.img-fluid(src="./img/fhack.jpg")
                h6.pt-2.text-center Future Hack
                p.text-center Kerala Startup Mission

        section#partners-section.section-content.alternate
          .container
            .row.pb-3
              .col-sm-12
                h2 Communities associated with Future Technologies Lab
            #partners
              .partner-cover
                .partner-item
                  .logo
                    img(src="./img/sut.jpg")
                  //- h3 SU Tvm Chapter
              .partner-cover
                .partner-item
                  .logo
                    img(src="./img/faya.jpg")
                  //- h3 Faya:80
              .partner-cover
                .partner-item
                  .logo
                    img(src="./img/dcf.jpg")
                  //- h3 FB Developer Circle
              .partner-cover
                .partner-item
                  .logo
                    img(src="./img/gdg.jpg")
                  //- h3 Google Developer Group
              .partner-cover
                .partner-item
                  .logo
                    img(src="./img/uug.jpg")
                  //- h3 Unity User Group
              .partner-cover
                .partner-item
                  .logo
                    img(src="./img/oswap.jpg")
                  //- h3 OWASP
              .partner-cover
                .partner-item
                  .logo
                    img(src="./img/xr.jpg")
                  //- h3 XR Collective

        include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
