doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/letstalk.scss")
  body

    include parts/menu.pug

    section#slider-section
      .container#info-container
        h1 Let's Talk: Meetups
        .circle.circle-one
        .circle.circle-two

    section.py-5
      .container
        .row
          .col-sm-12
            p.text-center Let's Talk is a regular 2 hour talk series in emerging technologies.

    section#video-section
      .container
        .videos
          .left
            .video
              iframe(type='text/html' width='830' height='350' src='//www.youtube.com/embed/sPC1Ml-CRlM?autoplay=0' frameborder='0')
          .right
            .video-item.active(data-video="https://www.youtube.com/embed/sPC1Ml-CRlM")
              img(src="./img/thumb1.jpg")
              .desc
                h4 TCS Let's Talk: 
                p Artificial Intelligence
            .video-item(data-video="https://www.youtube.com/embed/cz3MxfRS70U")
              img(src="./img/thumb2.jpg")
              .desc
                h4 UST Let's Talk: 
                p Quantum Computing
            .video-item(data-video="https://www.youtube.com/embed/bS7ipTLT38w")
              img(src="./img/thumb3.jpg")
              .desc
                h4 Let's Talk: 
                p Extended Reality
    
    section#partners-section.section-content
      .container
        .row.pb-3
          .col-sm-12
            h2.text-center Partners
        #partners
          .partner-cover
            .partner-item
              .logo
                img(src="./img/tcs.jpg")
              h3 TCS
          .partner-cover
            .partner-item
              .logo
                img(src="./img/ust.jpg")
              h3 UST
          .partner-cover
            .partner-item
              .logo
                img(src="./img/ieee.jpg")
              h3 IEEE
          .partner-cover
            .partner-item
              .logo
                img(src="./img/finastra.jpg")
              h3 Finastra

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/letstalk.js")