doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/membership.scss")
  body

    include parts/menu.pug

    section#slider-section
      .container#info-container
        h1 Membership
        .circle.circle-one
        .circle.circle-two

    section.section-content
      .container
        .row
          .col-sm-12
            p KSUM offers memberships to passionate individuals who work on upcoming technologies and gives them opportunity to work at future technologies lab. 
            p We give them perfect conditions to evolve into entrepreneurs and innovators 

    section#activity-section
      .container
        .activities
          a.activity-item(href="#")
            .inner
              .image
                img.img-fluid(src="./img/space.jpg")
                .desc
                  p Be part of the Community
          a.activity-item(href="#")
            .inner
              .image
                img.img-fluid(src="./img/vr.jpg")
                .desc
                  p Access the latest gadgets
          a.activity-item(href="#")
            .inner
              .image
                img.img-fluid(src="./img/inc.jpg")
                .desc
                  p Incubate your ideas!

    section.section-content
      a.button(href="#") Apply for Membership Now!

    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")