doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/projects.scss")
  body

    include parts/menu.pug

    section#slider-section
      .container#info-container
        h1 Projects
        .circle.circle-one
        .circle.circle-two

    section#project-section.section-content
      .container
        .row
          .col-sm-6
            .project-item
              iframe(type='text/html' width='830' height='300' src='//www.youtube.com/embed/LIFP3BAFc5I?autoplay=0' frameborder='0')
              .desc
                h3 ISC inauguration - projection mapping
                p The inauguration of South Asia's Largest startup complex is done by switching on a 3D visual treat. The system uses projection mapping to project videos on 3D objects. The chief Minister of Govt. of Kerala Inaugurated the complex.
                p Project by: iBoson Team, Rahul S Rajan, Tom Thomas
          .col-sm-6
            .project-item
              img.img-fluid(src="./img/wheel.jpg")
              .desc
                h3 Amphibious Wheel
                p The wheel assembly is designed to allow the robot to switch from a more traditional wheeled motion to an insect-inspired sprawled walk. The wheel surface is shaped to displace water, providing an amphibious capability to the robot.
                p Project by: Chandykunju Alex, Aditya Vijaychandra, Afsal A Sathar
          .col-sm-6
            .project-item
              iframe(type='text/html' width='830' height='300' src='//www.youtube.com/embed/iJvSIV3HKYw?autoplay=0' frameborder='0')
              .desc
                h3 AR Magazine | SCT college
                p Students from SCT College developed an augmented reality application on android for college magazine with the support of Future Technologies Lab.
                p Project by: Ashir, Brahmadatha
          .col-sm-6
            .project-item
              img.img-fluid(src="./img/gis.jpg")
              .desc
                h3 GIS mapping
                p Project by: Vaisakh Anand
          .col-sm-6
            .project-item
              img.img-fluid(src="./img/rail.jpg")
              .desc
                h3 AR Magazine | SCT college
                p The system find the cracks in railway tracks by analyzing the data (by an ML model) collected from Camera.
                p Project by: Anurag C P, Thalassery College of Engineering
          .col-sm-6
            .project-item
              img.img-fluid(src="./img/smile.jpg")
              .desc
                h3 Smile Gate
                p The project was developed for Ma'adin Academy - Research and Innovation Department. The system detects smile and gives a trigger to open the gate. This system was used to inaugurate Ma'adin academy at Malappuram
                p Project by: Savio Victor, Pranoy R, Sakirullahi O P
          .col-sm-6
            .project-item
              img.img-fluid(src="./img/wall.jpg")
              .desc
                h3 Interactive Wall
                p The idea was conceived as an interesting installment which could be showcased at FAN 3 - Maker Outpost which could attract and engage the participants and delegates of FAN3 and the visitors of Kochi Muziris Biennale.
                p The Interactive wall is basically a User Interface projected on a plain wall with the help of a desktop projector and makes use of the Kinect v2 to detect the gestures of the user. The user’s “open palm” acts as the trigger to control the mouse pointer or the brush in the case of a painting app and the user’s “closed palm” triggers a click or the impression of the brush on the digital canvas( the wall).
                p Project by: Madhav M Nair, Abhiram A

    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/letstalk.js")