doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/projects.scss")
  body

    include parts/menu.pug

    section#slider-section
      .container#info-container
        h1 Startups
        .circle.circle-one
        .circle.circle-two

    section#project-section.section-content
      .container
        .row
          .col-sm-6
            .project-item
              iframe(type='text/html' width='830' height='300' src='//www.youtube.com/embed/8ztz-FrQI-g?autoplay=0' frameborder='0')
              .desc
                h3 Neuroplex
                p A startup in the Artificial Intelligence domain that emerged from Future Technologies Lab, offering a video content analysis software platform - Eyes Age. It uses Deep learning & Computer Vision to understand the relationship between objects in a scene. Eyes Age provides Search, Alerts & Analytics to leverage visual data in any industry.
          .col-sm-6
            .project-item
              iframe(type='text/html' width='830' height='300' src='//www.youtube.com/embed/VChT60sTZSU?autoplay=0' frameborder='0')
              .desc
                h3 Genrobotics
                p Specialized in design and development of robotic solutions to address the most pressing social issues. Our best in class solutions combines the use of robotics and artificial intelligence in a seamless fashion. 
          .col-sm-6
            .project-item
              img.img-fluid(src="./img/appfabs.png")
              .desc
                h3 Appfabs
                p A Cyber Security product company,  Developed industry leading online penetration testing platform BeagleSecurity. Beagle is an intelligent and holistic platform to make your applications hack-proof. The platform provides continuous and automated Penetration Testing (under human supervision) for organizations, so that they can always stay on top of the cyber threats 

    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/letstalk.js")